In [2]:
import pandas as pd

In [3]:
feed = pd.read_csv("../../data_files/scraped_raw/matches/feed/mls_match_feeds.csv")

feed_2 = feed.copy()

# Normalize title column (lowercase, strip)
feed_2["title"] = feed_2["title"].astype(str).str.lower().str.strip()

# Drop meaningless events
meaningless = ["kick off", "kickoff", "end of second half", "end of first half"]
feed_2 = feed_2[~feed_2["title"].isin(meaningless)]
# Drop match_id entirely
feed_no_id = feed_2.drop(columns=["match_id"], errors="ignore")

# Now find exact duplicates based on useful columns
dupes = feed_no_id[feed_no_id.duplicated(keep=False)]

# Sort for human readability
dupes = dupes.sort_values(["date", "minute", "comment"])

dupes = pd.DataFrame(dupes)

dupes

,date,minute,title,comment,out_player,in_player
2995,Sunday March 2,70',attempt saved,Attempt blocked. Édier Ocampo's (Vancouver Whi...,NaN,NaN
2996,Sunday March 2,70',attempt saved,Attempt blocked. Édier Ocampo's (Vancouver Whi...,NaN,NaN
12565,Tuesday April 30 2024,84',nan,NaN,R. Ruidíaz,C. Baker
12604,Tuesday April 30 2024,84',nan,NaN,R. Ruidíaz,C. Baker
25574,Wednesday May 29 2024,23',attempt missed,Derrick Williams (Atlanta United) with header ...,NaN,NaN
25576,Wednesday May 29 2024,23',attempt missed,Derrick Williams (Atlanta United) with header ...,NaN,NaN

In [4]:
### drop second duplicates from original feed

feed_cleaned = feed.drop(dupes.index[::2])

### find rows count in original and cleaned feeds

print(f"Original feed rows: {len(feed)}")
print(f"Cleaned feed rows: {len(feed_cleaned)}")

Original feed rows: 43713
Cleaned feed rows: 43710

In [5]:
feed_cleaned.to_csv("../../data_files/scraped_raw/matches/feed/mls_match_feeds_no_dupes.csv", index=False)

In [6]:
team = pd.read_csv("../../data_files/scraped_raw/matches/teams/team_stats_combined.csv")

team_no_id = team.drop(columns=["match_id"], errors="ignore")

dupe_team_rows = team_no_id[team_no_id.duplicated(keep=False)]

dupe_team_rows = pd.DataFrame(dupe_team_rows)

dupe_team_rows

Empty DataFrame
Columns: [date, home_team, away_team, category, stat_name, home_value, away_value]
Index: []

In [9]:
### players

players = pd.read_csv("../../data_files/scraped_raw/matches/players/mls_match_player_stats.csv")

In [10]:
players_no_id = players.drop(columns=["match_id"], errors="ignore")

dupe_player_rows = players_no_id[players_no_id.duplicated(keep=False)]

dupe_player_rows = pd.DataFrame(dupe_player_rows)

dupe_player_rows

,Unnamed: 0,Player,Mins,G,xG,Conv%,SOT,Pass%,A,P,...,date,GS,GA,XGA,Pass,THRW,LB,LNCH,GK,CC
1783,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday September 21 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday September 21 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9569,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday April 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9576,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday April 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14845,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday March 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14853,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday March 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31278,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday February 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31286,D. Jones,0,0,0.0,0.0,0.0,0.0,0,0,0,...,Saturday February 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
### drop second duplicates from original team stats

players_dropped = players.drop(dupe_player_rows.index[::2])

## save cleaned team stats

players_dropped.to_csv("../../data_files/scraped_raw/matches/players/mls_match_player_stats_no_dupes.csv", index=False)