In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

db_string = 'mysql+pymysql://root:!wMoU9lBdLZWW6Y8@o8ukkP9TliImN.h.filess.io:58202/MLS'

engine = create_engine(db_string)

In [2]:
df = pd.read_csv('../../data_files/cleaned/players/master_players_w_team_abbr.csv')

In [3]:
## delete name, height_cm, weight_kg, team, contract_start, contract_end, position, foot, wage_eur, value_eur from stats

df2 = df.drop(columns=['name', 'height_cm', 'weight_kg', 'team', 'contract_start', 'contract_end', 'position', 'foot', 'wage_eur', 'value_eur'])

## rename id to player_id
df2 = df2.rename(columns={'id': 'player_id'})

df2 = df2.rename(columns={'att._position': 'att_position'})

In [4]:
### check if all player_id and date combos are unique

if df2.duplicated(subset=['player_id', 'date']).any():
    print("There are duplicate player_id and date combinations.")

### see duplicate player_id and date combos

duplicates = df2[df2.duplicated(subset=['player_id', 'date'], keep=False)]
duplicates = duplicates.sort_values(by=['player_id', 'date'])
print(duplicates.head(10))

There are duplicate player_id and date combinations.
        player_id        date   age  jersey_num  overall_rating  best_overall  \
238390     231886  2020-09-23  24.0        29.0              68            69
324720     231886  2020-09-23  23.0        19.0              69            71
182589     237075  2018-07-19  26.0        21.0              70            69
446766     237075  2018-07-19  27.0         4.0              70            69
41171      271053  2023-08-11  22.0        31.0              57            57
424454     271053  2023-08-11  23.0        27.0              57            57

       best_position  total_attacking  crossing  finishing  ...  \
238390            RM              301        63         60  ...
324720            CB              310        68         61  ...
182589            ST              290        29         71  ...
446766            ST              290        29         71  ...
41171             LB              184        44         16  ...
424454            LB              184        44         16  ...

        total_goalkeeping  gk_diving  gk_handling  gk_kicking  gk_positioning  \
238390                 51          9           13          11              12
324720                 51          9           13          11              12
182589                 52         11            9          14              12
446766                 52         11            9          14              12
41171                  53         14            9           5              15
424454                 53         14            9           5              15

        gk_reflexes  marking  tactical_awareness  positioning  tackling
238390            6      NaN                 NaN          NaN       NaN
324720            6      NaN                 NaN          NaN       NaN
182589            6     24.0                 NaN          NaN       NaN
446766            6     23.0                 NaN          NaN       NaN
41171            10      NaN                 NaN          NaN       NaN
424454           10      NaN                 NaN          NaN       NaN

[6 rows x 51 columns]

In [5]:
### delete one of the duplicates
df2 = df2.drop_duplicates(subset=['player_id', 'date'], keep='first')

In [6]:
df2.to_sql('player_stats', con=engine, if_exists='append', index=False)

483226

In [7]:
df3 = df[['id', 'date', 'wage_eur', 'value_eur']]

df3 = df3.rename(columns={'id': 'player_id'})

In [8]:
df3.head()

   player_id        date  wage_eur  value_eur
0     238919  2023-01-18      2000    1000000
1     255956  2023-01-18      3000   12000000
2     206485  2023-01-18      5000   11000000
3     247648  2023-01-18      6000   28000000
4     243574  2023-01-18      2000   14000000

In [9]:
if df3.duplicated(subset=['player_id', 'date']).any():
    print("There are duplicate player_id and date combinations.")

### see duplicate player_id and date combos

duplicates2 = df3[df3.duplicated(subset=['player_id', 'date'], keep=False)]
duplicates2 = duplicates2.sort_values(by=['player_id', 'date'])
print(duplicates2.head(10))

There are duplicate player_id and date combinations.
        player_id        date  wage_eur  value_eur
238390     231886  2020-09-23      3000   17000000
324720     231886  2020-09-23      4000   14000000
182589     237075  2018-07-19      8000   19000000
446766     237075  2018-07-19      6000   21000000
41171      271053  2023-08-11      1000     325000
424454     271053  2023-08-11      1000     300000

In [10]:
df3 = df3.drop_duplicates(subset=['player_id', 'date'], keep='first')

In [11]:
df3.to_sql('player_finance', con=engine, if_exists='append', index=False)

483226