In [1]:
# pip install pandas python-dateutil unidecode
import re
import os
import glob
import pandas as pd
import numpy as np
from dateutil import parser
from unidecode import unidecode

In [2]:

DATA_DIR = r"G://My Drive/GitHubProjects/MLS/data_files/cleaned/players"  # e.g. r"D:\mls\rosters"
OUTPUT_DIR = r"G://My Drive/GitHubProjects/MLS/data_files/cleaned/players/sql_players"         # e.g. r"D:\mls\outputs"
os.makedirs(OUTPUT_DIR, exist_ok=True)

In [ ]:
df = pd.read_csv('../../data_files/cleaned/teams/master_teams.csv')

In [ ]:
### create dictianory of team name to team id

team_name_to_id = dict(zip(df['team_name'], df['team_id']))

In [ ]:
def normalize_team_name(name: str) -> str:
    """Lowercase, strip accents, trim space, unify dashes, squeeze spaces."""
    if pd.isna(name):
        return name
    s = unidecode(str(name)).strip().lower()
    s = re.sub(r"[-_]+", " ", s)
    s = re.sub(r"\s+", " ", s)
    s = s.replace("montreal", "cf montreal")
    s = s.replace("st. louis city sc", "st louis city sc")
    return s

In [ ]:
def parse_date_from_filename(fname: str) -> pd.Timestamp:
    base = os.path.basename(fname)
    stem = re.sub(r"\.csv(?:\.csv)?$", "", base) 
    stem = re.sub(r"^cleaned[_-]", "", stem, flags=re.I)
    m = re.search(r"([A-Za-z]{3,9}[-_ ]\d{1,2}[-_, ]\d{4}|\d{4}[-_]\d{1,2}[-_]\d{1,2})", stem)
    if not m:
        return pd.to_datetime(parser.parse(stem, fuzzy=True).date())
    token = m.group(1).replace("_", " ").replace("-", " ").replace(",", " ")
    return pd.to_datetime(parser.parse(token).date())

In [ ]:
def ensure_team_ids(df: pd.DataFrame) -> pd.DataFrame:
    """Add team_id from TEAM_ID mapping."""
    if "team" not in df.columns:
        raise ValueError("CSV must have a 'team' column.")
    if not TEAM_ID:
        raise ValueError("Fill TEAM_ID mapping before running.")
    norm_map = {normalize_team_name(k): v for k, v in TEAM_ID.items()}
    df["_team_norm"] = df["team"].map(normalize_team_name)
    df["team_id"] = df["_team_norm"].map(norm_map)
    missing = df[df["team_id"].isna()]["team"].unique()
    if len(missing):
        raise ValueError(f"Unmapped team names detected: {missing.tolist()}")
    return df.drop(columns=["_team_norm"])

In [ ]:
def read_one_snapshot(path: str) -> pd.DataFrame:
    snap_date = parse_date_from_filename(path)
    usecols = None  
    df = pd.read_csv(path, low_memory=False, usecols=usecols)
    for c in ["contract_start", "contract_end"]:
        if c in df.columns:
            df[c] = pd.to_numeric(df[c], errors="coerce").astype("Int64")
    need = {"id", "team"}
    missing = need - set(df.columns)
    if missing:
        raise ValueError(f"{os.path.basename(path)} is missing columns: {missing}")

    df = df.rename(columns={"id": "player_id"})
    df["snap_date"] = pd.to_datetime(snap_date)

    keep_cols = ["player_id", "team", "snap_date"]
    if "contract_start" in df.columns: keep_cols.append("contract_start")
    if "contract_end" in df.columns: keep_cols.append("contract_end")
    df = df[keep_cols].dropna(subset=["player_id"])
    df["player_id"] = pd.to_numeric(df["player_id"], errors="coerce").astype("Int64")
    return df.dropna(subset=["player_id"]).astype({"player_id": "int64"})

In [ ]:
def build_snapshots(data_dir: str) -> pd.DataFrame:
    paths = sorted(glob.glob(os.path.join(data_dir, "*.csv")))
    if not paths:
        raise FileNotFoundError(f"No CSVs found under {data_dir}")
    frames = []
    for p in paths:
        try:
            frames.append(read_one_snapshot(p))
        except Exception as e:
            print(f"[skip] {os.path.basename(p)} -> {e}")
    snap = pd.concat(frames, ignore_index=True)
    
    # Map team names to team_id using team_name_to_id dictionary
    norm_map = {normalize_team_name(k): v for k, v in team_name_to_id.items()}
    snap["_team_norm"] = snap["team"].map(normalize_team_name)
    snap["team_id"] = snap["_team_norm"].map(norm_map)
    missing = snap[snap["team_id"].isna()]["team"].unique()
    if len(missing):
        raise ValueError(f"Unmapped team names detected: {missing.tolist()}")
    snap = snap.drop(columns=["_team_norm"])

    snap = (
        snap.drop_duplicates(subset=["snap_date", "team_id", "player_id"])
            .sort_values(["player_id", "snap_date", "team_id"])
            .reset_index(drop=True)
    )
    return snap

In [ ]:
def compute_first_seen(snap: pd.DataFrame) -> pd.DataFrame:
    return (
        snap.groupby("player_id", as_index=False)["snap_date"]
            .min()
            .rename(columns={"snap_date": "first_seen"})
    )

In [ ]:
def compute_stints(snap: pd.DataFrame) -> pd.DataFrame:
    s = snap.sort_values(["player_id", "snap_date", "team_id"]).copy()
    s["prev_team"] = s.groupby("player_id")["team_id"].shift()
    s["jump"] = (s["team_id"] != s["prev_team"]).astype(int)
    s.loc[s.groupby("player_id").head(1).index, "jump"] = 1
    s["stint_id"] = s.groupby("player_id")["jump"].cumsum()

    stints = (
        s.groupby(["player_id", "stint_id", "team_id"])
         .agg(stint_start=("snap_date", "min"),
              stint_end=("snap_date", "max"),
              days_observed=("snap_date", lambda x: (x.max() - x.min()).days + 1),
              obs_count=("snap_date", "count"))
         .reset_index()
         .sort_values(["player_id", "stint_start"])
    )
    return stints

In [ ]:
def compute_transfers(stints: pd.DataFrame) -> pd.DataFrame:
    st = stints.sort_values(["player_id", "stint_start"]).copy()
    st["next_team"]  = st.groupby("player_id")["team_id"].shift(-1)
    st["next_start"] = st.groupby("player_id")["stint_start"].shift(-1)
    transfers = st[(st["next_team"].notna()) & (st["team_id"] != st["next_team"])].copy()
    transfers = transfers.rename(columns={
        "team_id": "from_team_id",
        "stint_start": "from_start",
        "stint_end": "from_end",
        "next_team": "to_team_id",
        "next_start": "transfer_date"
    })
    transfers = transfers[["player_id", "from_team_id", "to_team_id", "from_start", "from_end", "transfer_date"]]
    return transfers

In [ ]:
def compute_last_seen_and_inactive(snap: pd.DataFrame, gap_days: int = 60) -> pd.DataFrame:
    last_seen = snap.groupby("player_id", as_index=False)["snap_date"].max().rename(columns={"snap_date": "last_seen"})
    global_max = snap["snap_date"].max()
    last_seen["inactive_flag"] = last_seen["last_seen"] <= (global_max - pd.Timedelta(days=gap_days))
    last_seen["as_of"] = global_max
    return last_seen

In [ ]:
if __name__ == "__main__":
    snapshots = build_snapshots(DATA_DIR)

    snapshots_out = snapshots[["snap_date", "team_id", "player_id"] + [c for c in ["contract_start","contract_end"] if c in snapshots.columns]]
    snapshots_out.to_parquet(os.path.join(OUTPUT_DIR, "roster_snapshots.parquet"), index=False)
    snapshots_out.to_csv(os.path.join(OUTPUT_DIR, "roster_snapshots.csv"), index=False)
    print(f"[ok] snapshots: {len(snapshots_out):,} rows")

    first_seen = compute_first_seen(snapshots)
    first_seen.to_csv(os.path.join(OUTPUT_DIR, "first_seen.csv"), index=False)

    stints = compute_stints(snapshots)
    stints.to_csv(os.path.join(OUTPUT_DIR, "stints.csv"), index=False)

    transfers = compute_transfers(stints)
    transfers.to_csv(os.path.join(OUTPUT_DIR, "transfers.csv"), index=False)

    last_seen = compute_last_seen_and_inactive(snapshots, gap_days=60)
    last_seen.to_csv(os.path.join(OUTPUT_DIR, "last_seen_60day_inactive.csv"), index=False)

In [3]:
df = pd.read_csv('../../data_files/cleaned/players/sql_players/stints.csv')

In [4]:
df.head()

,player_id,stint_id,team_id,stint_start,stint_end,days_observed,obs_count
0,250,1,697,2007-08-30,2012-08-31,1829,9
1,330,1,697,2011-08-30,2016-11-21,1911,216
2,432,1,687,2007-08-30,2008-08-30,367,3
3,432,2,697,2009-02-22,2009-08-30,190,2
4,432,3,112134,2010-08-30,2011-08-30,366,3

In [5]:
from sqlalchemy import create_engine

db_string = 'mysql+pymysql://root:!wMoU9lBdLZWW6Y8@o8ukkP9TliImN.h.filess.io:58202/MLS'

engine = create_engine(db_string)

In [6]:
df.to_sql(name='team_roster', con=engine, if_exists='append', index=False)

5630